.body{
   background-color: #ccc;

}

.navbar{
   background-color: green;

}

carousel-item{
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;

}

.carousel-item img {
  width: 500px;
  height: 300px;
}

.navbar {
            background-color: black; /* Define a cor de fundo como preto */
            padding: 10px; /* Ajuste do espaçamento interno */
            color: white; /* Cor do texto na navbar */
            text-align: center; /* Alinha o texto ao centro */
        }